<div class="gong-sidebar{% if page.url == '/' %} mobile-show{% endif %}">
  <div class="gong-sidebar-content">
    <div>
      <h1>GONG</h1>
      <p>XMPP Chat Client</p>
    </div>
    <div class="gong-logo">
      <div class="gong-container">
        <div class="gong-bar"></div>
        <div class="gong-strings"></div>
        <div class="gong">
          <div class="wave delay1"></div>
          <div class="wave delay2"></div>
          <div class="wave delay3"></div>
          <div class="wave delay4"></div>
          <div class="gong-outter"></div>
          <div class="gong-inner"></div>
        </div>
      </div>
    </div>
    <div class="gong-sidebar-links">
      <a href="https://github.com/gongchat/gong"
         target="_blank"
         rel="noopener noreferrer"
         aria-label="Github Repo for Gong">
        <em class="fab fa-github"></em>
      </a>
      <a href="https://github.com/gongchat/gong/releases/download/v{{ site.data.app.version }}/gong-setup-{{ site.data.app.version }}.exe"
         aria-label="Download link for Windows">
        <em class="fab fa-windows"></em>
      </a>
      <a href="https://github.com/gongchat/gong/releases/download/v{{ site.data.app.version }}/gong-{{ site.data.app.version }}-x86_64.AppImage"
         aria-label="Download link for Linux">
        <em class="fab fa-linux"></em>
      </a>
      <a href="https://github.com/gongchat/gong/releases/download/v{{ site.data.app.version }}/Gong-{{ site.data.app.version }}.dmg"
         aria-label="Download link for Mac">
        <em class="fab fa-apple"></em>
      </a>
    </div>
  </div>
</div>