html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-color: #3f3f3f;
  color: white;
  font-family: 'Roboto Mono', monospace;

  * {
    box-sizing: border-box;
  }
}

body {
  min-height: 100%;
  display: flex;
}

a {
  color: gold;
  text-decoration: none;
}

footer {
  padding: 5px 15px;
  text-align: center;
  font-size: 11px;
}

.content {
  flex-grow: 1;
  padding-top: 46px;
  display: flex;
  flex-direction: column;

  .section {
    flex-grow: 1;
    padding: 60px 15px;

    h2 {
      margin: 15px 0;
      font-size: 48px;
      text-transform: uppercase;
    }
  }

  .section-content {
    max-width: 700px;
    margin: auto;
  }
}

@media (max-width: 992px) {
  body {
    flex-direction: column;

    .gong-sidebar {
      padding: 50px 0;
      width: 100%;
      z-index: -1;

      .gong-sidebar-content {
        overflow: hidden;
        position: relative;
      }
    }

    .content {
      padding-top: 0;
    }
  }
}