html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-color: #3f3f3f;
  color: white;
  font-family: 'Open Sans', sans-serif;

  * {
    box-sizing: border-box;
  }
}

body {
  min-height: 100%;
  display: flex;
}

a {
  color: gold;
  text-decoration: none;
}

.content {
  flex-grow: 1;
  padding: 64px 30px;
}

.container {
  max-width: 800px;
}