.faq .section-content {
  & > ul {
    & > li {
      border-bottom: 1px solid #555;

      & > ul {
        padding-bottom: 15px;
      }
    }

    & > li:last-child {
      border-bottom: none;
    }
  }
}
