.home {
  h2 {
    color: white;
    border-bottom: none;
    margin: 15px 0;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      padding: 2px 4px;
    }
  }

  .section-about {
    background-color: #BA0023;
  }

  .section-fonts {
    background-color: #259CB2;

    .dynamic-google-font {
      font-size: 24px;
      height: 36px;
    }
  }

  .section-markdown {
    background-color: #2F773B;

    .emojis {
      display: flex;
      flex-wrap: wrap;

      span {
        display: block;
        width: 21px;
        text-align: center;
      }
    }
  }

  .section-something {
    background-color: #FF4000;
  }
}