.section-about {
  background-color: #BA0023;
}

.section-colors {
  .mini-gong {
    height: 400px;
    margin-bottom: 15px;
  }
}

.section-fonts {
  background-color: #259CB2;
}

.section-media-content {}

.section-markdown {
  background-color: #2F773B;
}

.section-messages {}

.section-something {
  background-color: #FF4000;
}