.menu {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 300px;
  right: 0;
  background-color: #3a3a3a;

  .nav {
    padding: 15px;
    display: flex;
    justify-content: flex-end;

    a {
      color: white;
      text-decoration: none;
      padding-right: 30px;
      text-transform: uppercase;
      font-size: 11pt;

      &.active {
        color: gold;
      }

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        color: gold;
      }
    }
  }

  .small-content {
    display: none;

    h1 {
      font-size: 15px;
      margin: 0;
      padding: 5px;
    }

    .menu-open {
      padding: 7px 15px;

      .menu-bar {
        background: white;
        height: 2px;
        width: 20px;
        margin: 3px 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .menu {
    left: 0;

    .nav {
      display: none;
    }

    .small-content {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.open {
      .nav {
        flex-direction: column;

        a {
          padding: 15px 0;
        }
      }
    }
  }
}