.section-updates {
  li {
    padding: 5px 0;
  }
}

.update {
  padding-bottom: 30px;

  h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    span:last-child {
      font-size: 1rem;
    }
  }

  li {
    padding: 3px 0;
  }
}